<table>
  <tr>
    <th>Name:</th>
    <td><%= @landmark.name %></td>
    <th>Year Completed:</th>
    <td><%= @landmark.year_completed %></td>
  </tr>
  <tr>
  </tr>
<table>

  <br>
  <br>
  <a class="button" href="/landmarks/<%= @landmark.id %>/edit">Edit Landmark</a>
  <br>
  <br>
  <a class="button" href="/landmarks">Landmarks</a>
